{% extends 'base.profile.html.twig' %}

{% block profilefeed %}
    <h1 class="hero-heading">
        FedImg Upload
    </h1>

    <div class="container section-content-guide">
        {{ form(form) }}
    </div>
{% endblock %}

{% block navigation %}
    {{ include('profile/includes/sidebar.html.twig') }}
{% endblock %}
