<div class="container menu-mobile-navigation">
    <a class="glyph menu-icon" href="#">
        <i class="coffeecup-icons-menu3"></i>
    </a>
</div>
<div class="container menu-items-wrapper">
    <a class="link-text coffeecup-home" href="#top" target="_blank">My Feed</a>
    <details>
        <summary>
            <span class="text-element menu-item-summary"
                  data-page-name="index.html">
                Friends <span class="line-vertical-plus">
                    -
                </span><span class="line-horizontal-plus">-</span>
            </span>
        </summary>
        <ul class="link-list menu-item-details">
            {% for f in friendslist %}
            <li class="list-item-link menu-item-link active">
                <a href="index.html#chapter-1">Chapter 1</a>
            </li>
            {% endfor %}
        </ul>
    </details>
    <details>
        <summary>
            <span class="text-element menu-item-summary"
                  data-page-name="your-canvas.html">
                My Profile <span class="line-vertical-plus">
                    -
                </span><span class="line-horizontal-plus">-</span>
            </span>
        </summary>
        <ul class="link-list menu-item-details">
            <li class="list-item-link menu-item-link active">
                <a href="{{ path('profile_settings') }}">A bit about me</a>
            </li>
        </ul>
    </details>
</div>
